<div class="register-container">
  <h2>Register To Get The Further Updates On Weather..!</h2>
  <form (ngSubmit)="onRegister()">
    <!-- Name Input -->
    <div class="input-group">
      <label for="name">Full Name</label>
      <input type="text" id="name" [(ngModel)]="user.name" name="name" required>
      <span *ngIf="showError && !user.name" class="error">Name is required</span>
    </div>

    <!-- Email Input -->
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
      <span *ngIf="showError && !user.email" class="error">Email is required</span>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="register-btn">Register</button>
  </form>

  
  <div *ngIf="registered" class="success-message">
    🎉 You have Registered Successfully! You will get further notifications about the current weather..!
  </div>
</div>
