.game-card {
    width: 270px;
    background: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
  }
  
  .game-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .game-card p {
    font-size: 14px;
    color: #ddd;
    margin: 5px 0;
  }
